<p>
  Yo!!!  This is a chat app built mainly for teams to communicate easily by choosing a dedicated room name such as a private emailID.<br>
</p>
<ul>
    <li>Developer : Abhishek Ananthakrishnan</li><br><br>
    <li>Source Code : github.com/abhishek2197/Real_time_chat_app</li><br><br>
    <li>Mail ID : abhishekananthakrishnan21@gmail.com</li><br><br>
</ul>
<p>
  This app will soon be hosted and can be very handy in team projects and events such as hackathons!!!
  Feel free to suggest changes at the Github Repo. Now, please don't waste further time reading this page rather make complete use of this application fast!
</p>
